<div class="app-container">
    <div class="sidebar" [class.sidebar-open]="isSidebarOpen" [class.collapsed]="isSidebarCollapsed">
        <div class="sidebar-header">
            <h2>Search Filters</h2>
            <div>
                <button mat-icon-button class="close-button" (click)="toggleSidebar()" *ngIf="isMobile">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div class="search-form">
            <mat-form-field appearance="fill">
                <mat-label>Issue Number: </mat-label>
                <input #input matInput id="issue_number" type="text" placeholder="Enter number issue here"
                    (keyup.enter)="onSearch(input.value, test_status.value)" [(ngModel)]="inp_issueno">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Test status</mat-label>
                <mat-select #test_status [(ngModel)]="sel_status">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let status of testStatus" [value]="status">{{status.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="button-group">
                <button mat-raised-button color="primary" (click)="onSearch(input.value, test_status.value)"
                    id="issue_number">Search</button>
                <button mat-raised-button class="reset" (click)="onReset()">Reset</button>
            </div>
            <div class="quick-filter-links" style="margin-top: 8px;">
                <a href="#" class="label label-all" (click)="onQuickFilter('all', $event)">all</a>
                <a href="#" class="label label-working" (click)="onQuickFilter('working', $event)">working</a>
                <a href="#" class="label label-finished" (click)="onQuickFilter('finished', $event)">finished</a>
                <a href="#" class="label label-newfirst" (click)="onQuickFilter('newfirst', $event)">new</a>
                <a href="#" class="label label-duplicate"
                    (click)="onDeleteDuplicate($event); $event.preventDefault();">delete duplicated path</a>
            </div>
        </div>
    </div>

    <div class="main-content" [class.expanded]="isSidebarCollapsed">
        <div class="header">
            <button mat-icon-button class="menu-button" (click)="toggleSidebar()" *ngIf="isMobile">
                <mat-icon>menu</mat-icon>
            </button>
            <h1>IPTP Gitlab Issue</h1>
        </div>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- Cột Issue Number -->
                <ng-container matColumnDef="issue_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Iss No. </th>
                    <td mat-cell *matCellDef="let issue">
                        <a href="{{issue.issue_url}}" target="_blank" title="Open Issue">
                            {{ issue.issue_number }}
                        </a>
                    </td>
                </ng-container>

                <!-- Cột Project -->
                <ng-container matColumnDef="project">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
                    <td mat-cell *matCellDef="let issue">
                        <span [ngClass]="{
                    'project-label': true,
                    'project-alpha': issue.project === 'xm-api',
                    'project-beta': issue.project === 'xm-web',
                    'project-gamma': issue.project === 'erp-web',
                    'project-delta': issue.project === 'erp-server',
                    'project-other': ['xm-api', 'xm-web','erp-web','erp-server'].indexOf(issue.project) === -1
                  }" (click)="filterByProject(issue.project)" style="cursor:pointer">
                            {{ issue.project }}
                        </span>
                    </td>
                </ng-container>

                <!-- Cột Actions -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let issue">
                        <button mat-icon-button color="warn" (click)="onDelete($event, issue)" title="Delete issue">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Cột Links -->
                <ng-container matColumnDef="links">
                    <th mat-header-cell *matHeaderCellDef> Links </th>
                    <td mat-cell *matCellDef="let issue">
                        <a href="{{issue.proj_url_company}}" target="_blank" title="Company Laptop">C</a> /
                        <a href="{{issue.proj_url_mypc}}" target="_blank" title="My Laptop">M</a>
                    </td>
                </ng-container>

                <!-- Cột Path -->
                <ng-container matColumnDef="path">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Path </th>
                    <td mat-cell *matCellDef="let issue" (click)="onClick($event)" title="Click to copy">
                        {{ issue.path }}
                    </td>
                </ng-container>

                <!-- Cột Test State -->
                <ng-container matColumnDef="test_state">
                    <th mat-header-cell *matHeaderCellDef> Test State </th>
                    <td mat-cell *matCellDef="let issue">
                        <mat-select matNativeControl (selectionChange)="onChange($event, issue)"
                            [value]="issue.test_state">
                            <mat-option value="Finish">Finish</mat-option>
                            <mat-option value="Working">Working</mat-option>
                            <mat-option value="Created">Created</mat-option>
                            <mat-option value="Done">Done</mat-option>
                            <mat-option value="Old">Old</mat-option>
                        </mat-select>
                    </td>
                </ng-container>

                <!-- Cột Due Date -->
                <ng-container matColumnDef="duedate">
                    <th mat-header-cell *matHeaderCellDef> Due Date </th>
                    <td mat-cell *matCellDef="let issue"> {{ issue.duedate }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- Phân trang -->
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

            <div *ngIf="isLoading" class="loading-container">
                <mat-spinner diameter="40"></mat-spinner>
                <span>Loading...</span>
            </div>

            <div *ngIf="noData" class="no-data-container">
                <mat-icon>search_off</mat-icon>
                <span>No data found</span>
            </div>
        </div>
    </div>
</div>

<!-- <mat-card *ngIf="isLoading" class="mat-card-style">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
</mat-card> -->