<div class="container header-container">
    <div class="heading header-flex">
        <h1 class="title header-title">
            <span class="menu-icon" (click)="changeNav()">&#9776;</span>
            Number
        </h1>
        <div class="header-actions-group">
            <div class="scores-container">
                <div class="score-container" id="vn_number"> - </div>
                <div class="best-container" id="vn_timer">00:00:00</div>
            </div>
            <a class="restart-button" (click)="startCounting()">New Game</a>
        </div>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div class="sidenav-header">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <span class="sidenav-title" (click)="closeNav()" style="cursor:pointer;">Settings</span>
    </div>
    <div class="sidenav-content">
        <label for="vn_numberLength">Number of Numbers</label>
        <div class="desc">Total numbers to find in the game.</div>
        <input type="number" name="numberLength" id="vn_numberLength" value="25">

        <label for="zoomBoard">Zoom</label>
        <div class="desc">Adjusts the overall scale of the board.</div>
        <input type="number" name="zoomBoard" id="zoomBoard" value="40">

        <label for="cR">Circle Radius (R)</label>
        <div class="desc">Radius of each number circle (in pixels).</div>
        <input type="number" name="cR" id="cR" value="50" (input)="onRadiusChange($event)">

        <label for="font-size">Font Size</label>
        <div class="desc">Size of the number text inside each circle.</div>
        <input type="number" name="font-size" id="font-size" value="30">

        <label for="delta_top">Delta Top</label>
        <div class="desc">Vertical offset for the board (in pixels).</div>
        <input type="number" name="delta_top" id="delta_top" value="40">

        <a class="restart-button" style="margin: 10px 0;" (click)="startCounting()">New Game</a>
    </div>
</div>
<div class="game-message game-over" style="display: none;" id="game-over">
    <p id="final_timer">00:00:11</p>
    <p>Finish!</p>
    <div class="lower">
        <a class="keep-playing-button" (click)="closeFinish()">Keep going</a>
        <a class="retry-button" (click)="startCounting()">Play again</a>
    </div>
</div>
<div id="gameZone"></div>
<canvas id="myCanvas"></canvas>