<div class="add-dialog-container">
  <div class="add-dialog-header">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    <span class="add-dialog-wallet">
      <img src="assets/icons/wallet.svg" alt="General" width="24" height="24" />
      General
    </span>
  </div>
  <div class="add-dialog-tabs">
    <span class="tab active">Expenses</span>
    <span class="tab">Income</span>
    <span class="tab">Transfer</span>
  </div>
  <div class="add-dialog-categories">
    <div class="category-grid">
      <div class="category-item" *ngFor="let cat of categories">
        <img [src]="cat.icon" alt="{{cat.name}}" />
        <div class="category-label">{{cat.name}}</div>
      </div>
    </div>
  </div>
  <div class="add-dialog-account-row">
    <button class="account-btn">Cash</button>
    <button class="tag-btn"><mat-icon>local_offer</mat-icon></button>
    <button class="edit-btn"><mat-icon>edit</mat-icon></button>
    <button class="bear-btn"><img src="assets/icons/bear.png" width="32" /></button>
  </div>
  <div class="add-dialog-note-row">
    <button mat-icon-button><mat-icon>photo_camera</mat-icon></button>
    <input type="text" placeholder="Add a note" />
  </div>
  <div class="add-dialog-keypad">
    <div class="keypad-row" *ngFor="let row of keypad">
      <button *ngFor="let key of row" class="keypad-btn">{{key}}</button>
    </div>
    <div class="keypad-bottom">
      <span class="amount">0 VND</span>
      <button class="today-btn">Today</button>
      <button class="ok-btn"><mat-icon>check_circle</mat-icon></button>
    </div>
  </div>
</div>